h1:hover{
    color: orangered;
    font-size: 36pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
}

.subtitulo{
    color: #A020F0;
    font-size: 20pt;
    font-weight: bold;
}

.paragrafo:hover{
    color: blue
}

body{
    background-color: honeydew;
}

.texto{
    text-align: center;
}

.imagem{
    text-align: center;
}